<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport"
content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>S.F</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon"
href="../../resources/assets/favicon.ico" />
<!-- Bootstrap icons-->
<link
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
rel="stylesheet" type="text/css" />
<!-- Google fonts-->
<link
href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="../../resources/css/styles.css" rel="stylesheet" />

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->

<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../../resources/js/scripts.js"></script>

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="../../resources/css/boardcss.css">

</head>
<body>
<!-- Navigation-->
<div>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top"
        id="mainNav">
        <div class="container px-4 px-lg-5" style="margin-top: 10px;">
            <a class="navbar-brand" href="/home/main">S.F</a>
            <button class="navbar-toggler navbar-toggler-right" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">

                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">동호회소개</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/home/leisure">레져</a></li>
                            <li><a class="dropdown-item" href="/home/travel">여행</a></li>
                            <li><a class="dropdown-item" href="/home/exercise">운동</a></li>
                            <li><a class="dropdown-item" href="/home/study">스터디</a></li>
                        </ul></li>
                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">동호회신청</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!"></a></li>
                            <li><a class="dropdown-item" href="/home/newclub">동호회
                                    신청</a></li>
                            <li><a class="dropdown-item" href="/home/newclubapply">
                                    신규동호회 등록</a></li>
                        </ul></li>
                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">커뮤니티</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">자유게시판</a></li>
                            <li><a class="dropdown-item" href="#!">Q&A</a></li>
                        </ul></li>
                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">마이페이지</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/home/mypage">회원 정보
                                    관리</a></li>
                            <li><a class="dropdown-item" href="/home/mypage">동호회 신청
                                    현황</a></li>
                        </ul></li>

                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">관리자
                            메뉴</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/admin/freeboard">게시판
                                    관리</a></li>
                            <li><a class="dropdown-item" href="/admin/qnaboard">Q&A관리</a></li>
                            <li><a class="dropdown-item"
                                href="/admin/member_registration">신규 회원 등록</a></li>
                            <li><a class="dropdown-item"
                                href="/admin/member_management">회원 관리</a></li>
                            <li><a class="dropdown-item"
                                href="/admin/club_Applist">동호회  신청 목록</a></li>
                            <li><a class="dropdown-item" href="/admin/club_management">동호회
                                    관리</a></li>
                        </ul></li>

                    <div id="login"
                        style="position: absolute; top: 0px; right: 150px;">
                        <ul
                            style="list-style: none; display: flex; text-decoration: none; color: black;">
                            <a href="/home/main" style="color: black;"><li>홈</li></a>
                            <li>|</li>
                            <a href="/home/login" style="color: black;"><li>로그인</li></a>
                            <li>|</li>
                            <a href="/home/join_check" style="color: black;"><li>회원가입</li></a>
                            <li>|</li>
                            <a href="/admin/home" style="color: black;"><li>관리자</li></a>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>


   
	<div class = "container" style="margin-top: 100px;">
       <img src="../../resources/images/jump.jpg" width="96.4%" height="500px" style="margin-left:24px">
	<div class="container">
	
	<div class="container">
		<div class="row">
		<form method="post" action="writerAction.jsp">
			<table class="table table-striped"  border :1px solid #dddddd" > <%-- 홀,짝 행 구분 --%>
				<tbody>
					<tr>
						<td>( 답변완료)  동아리 관련 문의입니다.</td>
					</tr>
						<td>작성자:RYAN | 작성일:2023년 1월 20일 11시 11분 11초 | 조회:5</td>
					<tr>
						<td><textarea type="text" class="form-control" name="bbsContent" maxlength="4000" style="height:350px;">새로운 동아리는 어떻게 신청하나요 ?</textarea></td>
					</tr>
				</tbody>
				<div>
				</div>
			</table>	
            
                <div class="container" style="border: 1px solid black; padding: 10px; margin-top: 20px;">
                    <div style="padding: 5px;">답변</div>
                    <textarea style="background-color: #dee2e6; width: 100%;height: 100px; overflow-y:scroll"></textarea>
                </div>
                <br>
            
			<div style="text-align:center;">
					  <button type="button" class="btn btn-primary">수정하기</button>
					  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">삭제하기</button>
					  <button type="button" class="btn btn-primary">목록보기</button>
					 
					  <!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">게시물 삭제</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			       <p>게시물을 정말 삭제하시겠습니까?</p>
			      </div>
			      <div class="modal-footer">
			      	<button type="button" class="btn btn-primary">삭제하기</button>
			       	<button type="button" class="btn btn-secondary" data-dismiss="modal">취소하기</button>
			      </div>
			    </div>
			  </div>
			</div>
			</div>
			
		</form>
		</div>
	</div>		
	</div>
    
    

	
<!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2022. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
    </body>
</html>
