<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="side.css">
</head>


<body>
    <div class="left-side-bar">
        <div class="status-ico">
            <span>▶</span>
            <span>▼</span>
        </div>
        <ul>
            <li>
                <a href="#">레져</a>
                <li><a href="#">운동</a></li>
                <li><a href="#">여행</a></li>
                <li><a href="#">스터디</a></li>
            </li>
        </ul>
    </div>
</body>
</html>