<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport"
content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>S.F</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon"
href="../../resources/assets/favicon.ico" />
<!-- Bootstrap icons-->
<link
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
rel="stylesheet" type="text/css" />
<!-- Google fonts-->
<link
href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="../../resources/css/styles.css" rel="stylesheet" />

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->

<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../../resources/js/scripts.js"></script>

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="../../resources/css/boardcss.css">

<link rel="stylesheet" href="../../resources/css/Club_Apply.css">
</head>
<body>
<!-- Navigation-->
<div>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top"
        id="mainNav">
        <div class="container px-4 px-lg-5" style="margin-top: 10px;">
            <a class="navbar-brand" href="/home/main">S.F</a>
            <button class="navbar-toggler navbar-toggler-right" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">

                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">동호회소개</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/home/leisure">레져</a></li>
                            <li><a class="dropdown-item" href="/home/travel">여행</a></li>
                            <li><a class="dropdown-item" href="/home/exercise">운동</a></li>
                            <li><a class="dropdown-item" href="/home/study">스터디</a></li>
                        </ul></li>
                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">동호회신청</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!"></a></li>
                            <li><a class="dropdown-item" href="/home/newclub">동호회
                                    신청</a></li>
                            <li><a class="dropdown-item" href="/home/newclubapply">
                                    신규동호회 등록</a></li>
                        </ul></li>
                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">커뮤니티</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">자유게시판</a></li>
                            <li><a class="dropdown-item" href="#!">Q&A</a></li>
                        </ul></li>
                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">마이페이지</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/home/mypage">회원 정보
                                    관리</a></li>
                            <li><a class="dropdown-item" href="/home/mypage">동호회 신청
                                    현황</a></li>
                        </ul></li>

                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">관리자
                            메뉴</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/admin/freeboard">게시판
                                    관리</a></li>
                            <li><a class="dropdown-item" href="/admin/qnaboard">Q&A관리</a></li>
                            <li><a class="dropdown-item"
                                href="/admin/member_registration">신규 회원 등록</a></li>
                            <li><a class="dropdown-item"
                                href="/admin/member_management">회원 관리</a></li>
                            <li><a class="dropdown-item"
                                href="/admin/club_Applist">동호회  신청 목록</a></li>
                            <li><a class="dropdown-item" href="/admin/club_management">동호회
                                    관리</a></li>
                        </ul></li>

                    <div id="login"
                        style="position: absolute; top: 0px; right: 150px;">
                        <ul
                            style="list-style: none; display: flex; text-decoration: none; color: black;">
                            <a href="/home/main" style="color: black;"><li>홈</li></a>
                            <li>|</li>
                            <a href="/home/login" style="color: black;"><li>로그인</li></a>
                            <li>|</li>
                            <a href="/home/join_check" style="color: black;"><li>회원가입</li></a>
                            <li>|</li>
                            <a href="/admin/home" style="color: black;"><li>관리자</li></a>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container" style="padding-top:150px;">
	<div class="row">
		<div class="col-3 apply_col" style="width: 10%;">
			<h4>카테고리 :</h4>
		</div>
		<div class="col-4" style="width: 320px;">
			<select name="club" class="select" style="width:50%; text-start">
				<option disabled selected>LeisureSports</option>
				<option value="Sports">Sports</option>
				<option value="Travel">Travel</option>
				<option value="Study">Study</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-3 apply_col" style="width: 10%;">
			<h4>동호회명 :</h4>
		</div>
		<div class="col-7">
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search"
					aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</div>


	<div class="container d-flexy justify-content_center">
		<table class="table table-striped" style="width:100%;">
			<tr>
				<th>번 호</th>
				<th>카테고리</th>
				<th>동호회명</th>
				<th>시간</th>
				<th>대장</th>
				<th class="text-center">상세보기&신청하기</th>
			</tr>
			<tr>
				<td>1</td>
				<td>운동</td>
				<td>등산</td>
				<td>10:00</td>
				<td>아무개</td>
				<td class="text-center"><a href="/home/clubinfo"><button type="button"
							class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
				</a> <a href="/home/detail"><button type="button"
							class="btn btn-sm btn-outline-secondary ani-button">신청하기</button>
				</a></td>
			</tr>
			<tr>
				<td>2</td>
				<td>레저</td>
				<td>수상스키</td>
				<td>--:--</td>
				<td>아무개</td>
				<td class="text-center"><a href="/home/clubinfo"><button type="button"
							class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
				</a> <a href="/home/detail"><button type="button"
							class="btn btn-sm btn-outline-secondary ani-button">신청하기</button>
				</a></td>
			</tr>
            <tr>
				<td>3</td>
				<td>레저</td>
				<td>클라이밍</td>
				<td>--:--</td>
				<td>아무개</td>
				<td class="text-center"><a href="/home/clubinfo"><button type="button"
							class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
				</a> <a href="/home/detail"><button type="button"
							class="btn btn-sm btn-outline-secondary ani-button">신청하기</button>
				</a></td>
			</tr>
            <tr>
				<td>4</td>
				<td>운동</td>
				<td>야구</td>
				<td>--:--</td>
				<td>아무개</td>
				<td class="text-center"><a href="/home/clubinfo"><button type="button"
							class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
				</a> <a href="/home/detail"><button type="button"
							class="btn btn-sm btn-outline-secondary ani-button">신청하기</button>
				</a></td>
			</tr>
            <tr>
				<td>5</td>
				<td>운동</td>
				<td>농구</td>
				<td>--:--</td>
				<td>아무개</td>
				<td class="text-center"><a href="/home/clubinfo"><button type="button"
							class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
				</a> <a href="/home/detail"><button type="button"
							class="btn btn-sm btn-outline-secondary ani-button">신청하기</button>
				</a></td>
			</tr>
            <tr>
				<td>6</td>
				<td>레저</td>
				<td>수상스키</td>
				<td>--:--</td>
				<td>아무개</td>
				<td class="text-center"><a href="/home/clubinfo"><button type="button"
							class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
				</a> <a href="/home/detail"><button type="button"
							class="btn btn-sm btn-outline-secondary ani-button">신청하기</button>
				</a></td>
			</tr>
	
		</table>
	</div>


<div class="page_wrap">
	<div class="page_nation">
		<a class="arrow pprev" href="#"></a> 
		<a class="arrow prev" href="#"></a>
		<a href="#" class="active">1</a> <a href="#">2</a> <a href="#">3</a> <a
			href="#">4</a> <a href="#">5</a> <a href="#">6</a> <a href="#">7</a>
		<a href="#">8</a> <a href="#">9</a> <a href="#">10</a> <a
			class="arrow next" href="#"></a> <a class="arrow nnext" href="#"></a>
	</div>
</div>

<!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2022. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
    </body>
</html>
