<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport"
content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>S.F</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon"
href="../../resources/assets/favicon.ico" />
<!-- Bootstrap icons-->
<link
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
rel="stylesheet" type="text/css" />
<!-- Google fonts-->
<link
href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="../../resources/css/styles.css" rel="stylesheet" />

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->

<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../../resources/js/scripts.js"></script>

<script src="https://kit.fontawesome.com/6e77d299cc.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="../../resources/css/boardcss.css">
<link rel="stylesheet" href="../../resources/css/styles.css">

</head>
<body>
<!-- Navigation-->
<div>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top"
        id="mainNav">
        <div class="container px-4 px-lg-5" style="margin-top: 10px;">
            <a class="navbar-brand" href="/home/main">S.F</a>
            <button class="navbar-toggler navbar-toggler-right" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">

                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link" href="/home/leisure">동호회소개</a></li>
                   
                    <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">동호회신청</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!"></a></li>
                            <li><a class="dropdown-item" href="/home/newclub">동호회신청</a></li>
                            <li><a class="dropdown-item" href="/home/newclubapply">신규동호회 등록</a></li>
                        </ul>
					</li>

                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">커뮤니티</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">자유게시판</a></li>
                            <li><a class="dropdown-item" href="#!">Q&A</a></li>
                        </ul></li>
                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">마이페이지</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/home/mypage">회원 정보
                                    관리</a></li>
                            <li><a class="dropdown-item" href="/home/mypage">동호회 신청
                                    현황</a></li>
                        </ul></li>

                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">관리자
                            메뉴</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/admin/freeboard">게시판
                                    관리</a></li>
                            <li><a class="dropdown-item" href="/admin/qnaboard">Q&A관리</a></li>
                            <li><a class="dropdown-item"
                                href="/admin/member_registration">신규 회원 등록</a></li>
                            <li><a class="dropdown-item"
                                href="/admin/member_management">회원 관리</a></li>
                            <li><a class="dropdown-item"
                                href="/admin/club_Applist">동호회  신청 목록</a></li>
                            <li><a class="dropdown-item" href="/admin/club_management">동호회
                                    관리</a></li>
                        </ul>
					</li>
					
                
					<li style="margin-left: 20px;" class="nav-item"><a class="nav-link" href="/home/main">홈</a></li>
					<li class="nav-item"><a class="nav-link">|</a></li>
					<!-- <li class="nav-item"><a class="nav-link" href="/home/login"><i class="fa-solid fa-user">로그인</a></i></li> -->
					<li class="nav-item dropdown">
						<a href="/home/login" class="nav-link dropdown-toggle" id="navbarDropdown" 
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<!--<i class="fa-solid fa-user"> 로그인시 보여주는 아이콘--></i>로그인</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/admin/freeboard">로그아웃</a></li>
                            <li><a class="dropdown-item" href="/admin/qnaboard">Q&A관리</a></li>                           
                        </ul>
					</li>
					<li class="nav-item"><a class="nav-link">|</a></li>
					<li class="nav-item"><a class="nav-link" href="/home/join_check">회원가입</a></li>
					<li class="nav-item"><a class="nav-link">|</a></li>
					<li class="nav-item"><a class="nav-link" href="/admin/home">관리자</a></li>
                      
                </ul>
            </div>
        </div>
    </nav>
</div>



<div class="video-box">
	<video class="video-container" autoplay muted loop>
		<source src="../../resources/images/people.mp4" type="video/mp4"><source>
</div>
<section class="features-icons bg-light text-center">
	<div class="container">
		<div class="row">
			<hr>
			<h2 id="best" class="blinking1 col text-start">BEST PROGRAM</h2>
			<h2 id="new" class="blinking2 col text-end">NEW PROGRAM</h2>
			<hr>
		</div>
		<div class="row">
			<div id="bestview"
				class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-1">
				<div class="col">
					<div class="card shadow-sm">
						<img class="bd-placeholder-img card-img-top" width="100%"
							height="225" src="../../resources//images/climb.jpg" role="img"
							focusable="false">
						<div class="card-body">
							<p class="card-text">Mountain-Climbing</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button"class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card shadow-sm">
						<img class="bd-placeholder-img card-img-top" width="100%"
							height="225" src="../../resources//images/food.jpg" role="img"
							focusable="false">
						<div class="card-body">
							<p class="card-text">Food-Trip</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button"
										class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card shadow-sm">
						<img class="bd-placeholder-img card-img-top" width="100%"
							height="225" src="../../resources//images/golf.jpg" role="img"
							focusable="false">
						<div class="card-body">
							<p class="card-text">Golf</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button"
										class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card shadow-sm">
						<img class="bd-placeholder-img card-img-top" width="100%"
							height="225" src="../resources/images/soccer.jpg" role="img"
							focusable="false">

						<div class="card-body">
							<p class="card-text">Soccer</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button"
										class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="newview"
				class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-1">
				<div class="col">
					<div class="card shadow-sm">
						<img class="bd-placeholder-img card-img-top" width="100%"
							height="225" src="../../resources//images/horse.jpg" role="img"
							focusable="false">

						<div class="card-body">
							<p class="card-text">Horse riding</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button"
										class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card shadow-sm">
						<img class="bd-placeholder-img card-img-top" width="100%"
							height="225" src="../../resources/images/billiards.jpg" role="img"
							focusable="false">

						<div class="card-body">
							<p class="card-text">Artistic billiards</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button"
										class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card shadow-sm">
						<img class="bd-placeholder-img card-img-top" width="100%"
							height="225" src="../../resources/images/badminton.jpg" role="img"
							focusable="false">

						<div class="card-body">
							<p class="card-text">Badminton</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button"
										class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card shadow-sm">
						<img class="bd-placeholder-img card-img-top" width="100%"
							height="225" src="../../resources/images/tennis.jpg" role="img"
							focusable="false">

						<div class="card-body">
							<p class="card-text">Tennis</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button"
										class="btn btn-sm btn-outline-secondary ani-button">상세보기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Image Showcases-->
<section class="showcase">
	<div class="container-fluid p-0">

		<div class="row g-0 " style="position: relative;">
			<!-- <div class="white-box"></div> -->
			<div
				class="col-lg-6 order-lg-2 text-white showcase-img scale-up-hor-left ani-img"
				style="background-image: url('../../resources/images/스터디.jpg'); background-size: cover; background-position: center;"></div>
			<div class="col-lg-6 order-lg-1 my-auto showcase-text">
				<h2>Fully Responsive Design</h2>
				<p class="lead mb-0">When you use a theme created by Start
					Bootstrap, you know that the theme will look great on any device,
					whether it's a phone, tablet, or desktop the page will behave
					responsively!</p>
			</div>
		</div>
		<div class="row g-0" style="position: relative;">
			<div class="white-box"></div>
			<div class="col-lg-6 text-white showcase-img ani-img"
				style="background-image: url('../../resources/images/스포츠.jpg'); background-size: cover; background-position: center;"></div>
			<div class="col-lg-6 my-auto showcase-text">
				<h2>Updated For Bootstrap 5</h2>
				<p class="lead mb-0">Newly improved, and full of great utility
					classes, Bootstrap 5 is leading the way in mobile responsive web
					development! All of the themes on Start Bootstrap are now using
					Bootstrap 5!</p>
			</div>
		</div>
		<div class="row g-0" style="position: relative;">
			<div class="white-box"></div>
			<div class="col-lg-6 order-lg-2 text-white showcase-img ani-img"
				style="background-image: url('../resources/images/여행.jpg')"></div>
			<div class="col-lg-6 order-lg-1 my-auto showcase-text">
				<h2>Fully Responsive Design</h2>
				<p class="lead mb-0">When you use a theme created by Start
					Bootstrap, you know that the theme will look great on any device,
					whether it's a phone, tablet, or desktop the page will behave
					responsively!</p>
			</div>
		</div>
		<div class="row g-0" style="position: relative;">
			<div class="white-box"></div>
			<div class="col-lg-6 text-white showcase-img ani-img"
				style="background-image: url('../../resources/images/토론.jpg')"></div>
			<div class="col-lg-6 my-auto showcase-text">
				<h2>Updated For Bootstrap 5</h2>
				<p class="lead mb-0">Newly improved, and full of great utility
					classes, Bootstrap 5 is leading the way in mobile responsive web
					development! All of the themes on Start Bootstrap are now using
					Bootstrap 5!</p>
			</div>
		</div>

	</div>
</section>
<script>
	$(document).ready(function(){
		   
		   $("#bestview").show();
		   $("#newview").hide();
	
		   $("#best").on("click" , function(){
		      $("#bestview").show();
		      $("#newview").hide();
		      console.log("click!");
		   });
		   
		   $("#new").on("click" , function(){
		      $("#newview").show();
		      $("#bestview").hide();
		      console.log("click!");
		   });
		});
	
		$(function(){
			$(document).one('click', '.like-review', function(e) {
				$(this).html('<i class="fa fa-heart" aria-hidden="true"></i> You liked this');
				$(this).children('.fa-heart').addClass('animate-like');
			});
		});
</script>


<!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2022. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
    </body>
</html>
